*{
  margin: 0 auto;
  padding: 0 auto;
}
#divArriba{
  margin: 5%;

}
  #divIzq{
  float: left;
  margin: 5%;
 }

#divMedio{
  float: left;
  width: 140px;
  margin: 5%;
}
#botonborrar{
  margin: 5%;
}
#divDer{
  float: left;
  margin: 5%;
}

div {
  background-color:rgb(192, 130, 173);
}
.cajaTextoGrande{
  width: 400px;
  height: 200px;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
}
.cajaTextoChica{
  width: 25px;
}

h1{
  text-align: center;
}

body{
   
  background-image:url("fondopagina.jpg");
  background-size: cover;
  
}
